/*Plantilla*/
.btn_suscribirse:hover{
    cursor: pointer;
}
.lineasuperior{
    height: 40px;
    background-color: #F0F0F0;
}
.link-lineasuperior{
    color:#FFFFFF;
    font-size: 14px;
    font-family: 'Raleway-Regular';
    text-decoration: none;
}
.IconoContacto{
    color: #FFFFFF;
}
.input-buscar{
    background-color: transparent;
    border:none;
    margin-left: 10px;

}
.input-buscar::placeholder{
    color: #A5A5A5;
    font-family: 'Poppins-Medium';
    font-size: 14px;
}
/* .linea_divisoria{
    width:0.5px;
    height:10px;
    background-color:white;
} */
.link-lineasuperior:hover{
    color:#FFFFFF;
}
.navbar-nav .nav-link{
           
    font-size: 14px;
    font-family:'Poppins-Medium';
    color: #444444 !important;
    text-transform: uppercase;
  
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
   border-bottom: 2px solid #D81326;
  
  
 }
.linea-pie{
    background:linear-gradient(90deg,#1C79F9, #28CBEA);
    height: 75px;
    width: 100%;
}

.pie_titulo{
    font-family: 'Poppins-Medium';
    color: #399D7F;
    text-transform: uppercase;
    font-size: 14px;
}
.pie_secciones{
    font-family: 'Poppins-Regular';
    font-size: 14px;
    color:#FFFFFF;
    text-decoration: none;
}
.pie_secciones:hover{
    color:#FFFFFF;
    text-decoration: underline;
}
.pie-enlacecontacto{
    font-family: 'Gotham-Medium';
    font-size: 12px;
    color:#919191;
    text-decoration: none;
}
.pie-enlacecontacto:hover{
    color:#919191;
    text-decoration: underline;
}
.seguinos_en{
    font-family: 'Poppins-Light';
    font-size: 14px;
    color:#FFFFFF;
}
/*Inicio*/
.imgPrincipal_titulo{
    font-family: 'Poppins-Light';
    font-size: 44px;
    color: #FFFFFF;
}
.Inicio-titulo{
    font-family: 'Poppins-Medium';
    font-size: 25px;
    color: #399D7F;
    text-transform: uppercase;
    margin-bottom: 25px;
    margin-top:25px;
}
.Inicio-titulo-linea{
    height: 2px;
    width: 168px;
    background-color: #6698CC;
    display: block;
    margin: auto;
}
.titulo-categoria{
    font-family: 'Poppins-Medium';
    font-size: 17px;
    color: #212121;
    width: 80%;
    margin-top: 10px;
}
.enlace_categoria{
    text-decoration: none;
}
/* .enlace_categoria:hover .overlay{
    opacity: 0.5;
} */
.tituloSeccionEmpresa{
    font-family: 'Poppins-Medium';
    font-size: 50px;
    color: white;
    text-transform: uppercase;
}
.subtituloSeccionEmpresa{
    font-family: 'Poppins-Light';
    font-size: 25px;
    color: white;
    text-transform: uppercase;
}
.textoSeccionEmpresa{
    font-family: 'Poppins-Light';
    font-size: 16px;
    color: white;
}
.boton_conoce{
    background-color: white;
    font-family: 'Poppins-Medium';
    color: #6698CC;
    font-size: 17px;
    text-transform: uppercase;
    margin-top: 30px;
}
.boton_conoce:hover{
    color: #6698CC;
}
.tituloServicioInicio{
    font-family: 'Poppins-Regular';
    font-size: 20px;
    color: white;
}
.textoServicioInicio{
    font-family: 'Poppins-Regular';
    font-size: 16px;
    color: white;
}
/*Empresa*/
.tituloEmpresa{
    font-family: 'Poppins-Bold';
    color: #399D7F;
    font-size: 16px;
    text-transform: uppercase;
}
.textoEmpresa{
    font-family: 'Poppins-Light';
    color: #707070;
    font-size: 16px;
    margin-top: 20px;
}
.tituloIconoEmpresa{
    font-family: 'Poppins-Bold';
    color: #FFFFFF;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 10px;
}
.textoIconoEmpresa{
    font-family: 'Poppins-Light';
    color: #FFFFFF;
    font-size: 16px;
    margin-top: 10px;
}
/*Categorias*/
.linea-azul{
    height:40px ;
    background-color: #6698CC;
    font-family: 'Poppins-Italic';
    font-size: 14px;
    color: white;
}
.categoria-enlace{
    text-decoration: none;
}
.categoria-titulo{
 color: #1D4465;
 font-family: 'Roboto-Medium';
 text-transform: uppercase;
 font-size: 18px;
}
.contenedor {
    position: relative;
    
  }
  .overlay {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left:10px;
    right: 10px;
    
    /* height: 80%;
    width: 90%; */
   
    opacity: 0;
    transition: .5s ease;
    background-color: #0091C6;
  }
  
  .contenedor:hover .overlay {
    opacity: 0.5;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
.item_menu{
    border-bottom:1px solid #A5A5A5;
    font-family:'Poppins-Regular';
    color:#212121;
    font-size:16px;
    padding-top:10px;
    padding-bottom:10px;
    text-decoration: none;
    padding-left: 25px;
    word-wrap: break-word;
}
.item_menu:hover{
    text-decoration: underline;
    color: #606163;
}
.item_menu_productos{
    border-bottom:1px solid #A5A5A5;
    font-family:'Poppins-Medium';
    color:#212121;
    font-size:17px;
    padding-top:10px;
    padding-bottom:10px;
    text-decoration: none;
    padding-left: 50px;
    word-wrap: break-word;
    background-color: #F0F0F0;
}
.item_menu_productos:hover{
    color: #212121;
    text-decoration: underline;
}
.item_menu_productos_active{
    border-bottom:1px solid #A5A5A5;
    font-family:'Poppins-Medium';
    color:#212121;
    font-size:17px;
    padding-top:10px;
    padding-bottom:10px;
    text-decoration: none;
    padding-left: 50px;
    word-wrap: break-word;
    background-color: #E1E1E1;
}
.item_menu_productos_active:hover{
    color: #212121;
    text-decoration: underline;
}
.item_menu_active{
   
    border-bottom:1px solid #A5A5A5;
    background-color: #6698CC;
    font-family:'Poppins-Regular';
    color:#FFFFFF;
    font-size:16px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left: 25px;
    text-decoration: none;
    word-wrap: break-word;
}
.item_menu_active:hover{
    text-decoration: underline;
    color:#FFFFFF;
}
/*Producto*/
.producto-titulo{
    font-size: 25px;
    color:#399D7F;
    font-family: 'Poppins-Medium';
}
.producto-descripcionbreve{
    font-size: 16px;
    color:#707070;
    font-family: 'Poppins-Light';
}
.producto-descripcion_larga{
    font-size: 16px;
    color:#707070;
    font-family: 'Poppins-Light';
    border-top: 1px solid #6698CC;
    padding-top: 15px;
}
.producto-titulo_prodsrel{
    font-size: 17px;
    color:#399D7F;
    font-family: 'Poppins-Medium';
    margin-top: 15px;
    text-transform: uppercase;
}
.producto-linea_prodsrel{
    width: 100%;
    height: 1px;
    background-color: #399D7F;
    margin-top: 10px;
    margin-bottom: 25px;
}

.btn_ficha{
    background-color: transparent;
    border: 1px solid #6698CC;
    font-size: 14px;
    font-family: 'Poppins-Regular';
    text-transform: uppercase;
    color: #6698CC;
}
.btn_ficha:hover{
    color: #6698CC;
    text-decoration: none;
}
.btn_agregar{
    background-color: #6698CC;
    font-size: 14px;
    font-family: 'Poppins-Regular';
    color: white;
    text-transform: uppercase;
}
.btn_consultar:hover{
    color: white;
}
.btn_filtro{
    background-color: #6B1B39;
    color: #FFFFFF;
    font-family: 'Raleway-Bold';
    font-size: 14px;
    text-transform: uppercase;
}
.prodRelacionados_titulo{
    color:#606163;
    font-family: 'Raleway-SemiBold';
    text-transform: uppercase;
    font-size: 20px;
}
/*Servicios*/
.Servicio-titulo{
    font-size: 20px;
    font-family: 'Poppins-Regular';
    color: #00A499;
}
.Servicio-subtitulo{
    font-size: 16px;
    font-family: 'Poppins-Regular';
    color: #6698CC;
}
.Servicio-texto{
    font-size: 15px;
    font-family: 'Poppins-Regular';
    color: #495057;
    margin-top: 10px;
}
.Servicios-formulario_titulo{
    font-size: 25px;
    font-family: 'Poppins-Medium';
    color: #399D7F;
}
.Servicios-formulario_subtitulo{
    font-size: 15px;
    font-family: 'Poppins-Regular';
    color: #495057;
    margin-top: 20px;
}
.Servicios-btn_formulario{
    background-color: #6698CC;
    font-size: 14px;
    font-family: 'Poppins-Bold';
    color: white;
    text-transform: uppercase;
}
.FormContacto-enlace{
    color: #212121;
    font-family: 'Poppins-Light';
    font-size: 16px;
    text-decoration: none;
}
.FormContacto-enlace:hover{
    color: #212121;
    text-decoration: underline;
}

